*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #EBE8E4;
  color: #222;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

header {
  height: 40px;
  padding-top: 10px;
  font-size: 1.3vw;
  background-color: gray;
  display: flex;
  justify-content: space-evenly;
}
header a {
  color: oldlace;
  text-decoration: none;
}

header a:hover{
  font-weight: bold;
  color:coral;
}

/*Nav bar and it's containers*/

nav {
  background-color: #fff;
  border: 10px solid #dedede;
  position: sticky;
  top: 0;
  border-radius: 20px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  display: block;
  margin: 8px 22px 8px 22px;
  overflow: hidden;
  width: 95%; 
  font-size: 1.3vw;
}

.toggle{
  width: 95%;
  padding: 20px 20px;
  background-color: white;
  color: gray;
  text-align: right;
  font-size: 38px;
  display: none;
}

@media (max-width: 770px) {
  .toggle{
    display: block;
  }  
  ul{
    width: 95%;
    display: none;
  }
  ul li{
    display: block;
    display: none;
  }
  .active{
    display: block;
  }
}

#icon {
  width: 5vw;
  height: 4rem;
  margin-left: 1rem;
  color: #5E5E5E;
  background: white;
  float: left;
}


nav ul {
  margin: 0 auto;
  padding: 0;
  float: right;
}
 
nav ul li {
  display: inline-block;
  list-style-type: none;
  padding-top: 4;
}
	  
nav > ul > li > a {
  color: black;
  display: block;
  line-height: 56px;
  padding: 0 24px;
  text-decoration: none;
}

/**divs**/
.container {
  position: relative;
  border: 1px solid;
  margin-left: 4.5%;
  font-size: 1.1vw;
  width: 90%;
  padding: 40px;
  border-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 0;
  background-color: gainsboro;
  display: flex;
  justify-content: space-evenly;
}
.smallDiv {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  width: 30%;
  display: inline-block;
  margin: 15px;
  background-color: white;
}

.smallDiv a {
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  padding-top: 20px;
  color: darkred;
}
.smallDiv a:hover {
  color:coral;
}
 /*Hover States*/

nav > ul > li:hover > a {
  color: darkred;
  text-decoration: underline;
  background-color: lightyellow;
}
.video-element{
  width: 90%;
  height: 90%;
  padding-left: 18vw;
}

.video-element video{
  width: 90%;
  height: 90%;
  object-fit: cover;
  padding-bottom: 0;
}
/*************Footer********************/
footer {
  clear: both;
  background-color: gray;
  margin-top: 5%;
  margin-left: 4.5%;
  position: relative;
  width: 90vw;
  display: inline-block; 
}

.f-header {
  border-collapse: collapse;
  margin: 2vh;
}

.f-header td {
  padding-left: 20vw;
}

.f-header td a {
  color: oldlace;
  text-decoration: none;
  font-size: 1.1vw;
}

.f-header td a:hover{
  font-weight: bold;
  color:coral;
}

.copyRight {
  background-color: yellow;
  color:darkred;
  text-align: center;
  font-size: 1.2vw;
}
/*********pages************/
.image-det {
  width: 80vw;
  background-color: white;
  margin-left: 10%;
  margin-top: 5%;
  padding: 25px;
  height: 75vh;
}
.image-det h1{
  text-align: center;
  color: darkred;
}
.image-det .part {
  display: inline-block;
  float: left;
  width: 42%;
  height: 40%;
  text-align: left;
  padding: 2%;
  font-size: 2rem;
}
.image-det .part img {
  width: 100%;
  height: auto;
}

.image-det .text-part {
  width: 54%;
}

h2 {
  display: block;
  font-size: 1.2em;
  text-align: center;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}